<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/g/vue@2.0.0-rc.4,vue.resource@1.0.0"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Adsim - Teste de JS</title>
  </head>
  <body>
    <div id="app" class="container text-center">
      <table id="table" class='table table-bordered table-striped table-hover table-responsive table-fixed'>
        <thead>
        <tr class='bg-danger text-light'>
          <th>Refrigerante</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Total</th>
          <th>Curtidas</th>
        </tr>
      </thead>
        <tr v-for="n in nLinhas">
          <td>
            <select class='custom-select mr-sm-2' @change='changeRefrigerante(n)' v-model='selected[n]'>
              <option value='0' disabled selected>Escolha o refrigerante...</option>
              <option v-bind:value='refrigerante.id' v-for='refrigerante in refrigerantes'>{{refrigerante['sabor']}} {{refrigerante['quantidade']}}</option>
            </select>
          </td>
          <td><input type='number' class='text-center' v-model.number='quantidade[n]' @keyup='changeRefrigerante(n)' placeholder='Digite a quantidade'> </td>
          <td><p type='text' class='text-center' >R$ {{preco[n]}}</p></td>
          <td><p type='text' class='text-center' placeholder='Cálcular o valor total'>R$ {{total[n]}}</p></td>
          <td><p><i class="fa fa-heart"></i>  {{curtidas[n]}}  <i class="fa fa-heart"></i></p></td>
        </tr>
      </table>
      <button class='btn bg-danger text-light' @click='novoRefrigerante'>Novo Refrigerante</button>
      <span><H4 class="bg-danger text-light preco-totalitario">Preço Totalitário = R$ {{precoTotalitario}}</H4></span>
    </div>
    <script>
    new Vue({
      el: "#app",
      data () {
        return {
          refrigerantes: [],
          selected: [""],
          quantidade: [0],
          preco: [0],
          total: [0],
          nLinhas: 7,
          curtidas: [0],
          precoTotalitario: 0
        }
      },
      created() {
        let vm = this
        axios.get('http://api.adsim.co/refrigerante/listar')
        .then(response => {
          vm.refrigerantes = response.data
        })
      },
      beforeMount() {
        for(i = 0; i < this.nLinhas; i++) {
          this.selected.push("");
          this.quantidade.push(0);
          this.preco.push(0);
          this.total.push(0);
          this.curtidas.push(0);
        }
      },
      methods: {
        changeRefrigerante: function(index) {
          var refriIndex = this.selected[index]-1
          if(this.selected[index] != undefined && this.quantidade[index] != undefined && this.total[index] != undefined && this.refrigerantes[refriIndex] != undefined) {
            this.$set(this.total, index, this.refrigerantes[refriIndex].valor * this.quantidade[index])
            this.$set(this.preco, index, this.refrigerantes[refriIndex].valor)
            this.$set(this.curtidas, index, this.refrigerantes[refriIndex].curtidas)
          }
        },
        novoRefrigerante: function() {
          this.selected.push()
          this.quantidade.push(0)
          this.preco.push(0)
          this.total.push(0)
          this.curtidas.push(0)
          this.nLinhas++;
        }
      },
      updated: function() {
          var table = document.getElementById("table");
          table.scrollTop = table.scrollHeight;
      },
      watch: {
        total() {
            this.precoTotalitario = 0;
            this.total.map(p => this.precoTotalitario += p);
         }
      }
    })
    </script>
  </body>
</html>
