<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/g/vue@2.0.0-rc.4,vue.resource@1.0.0"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Adsim - Teste de JS</title>
  </head>
  <body>
    <div id="app" class="container text-center">
      <table id="table" class='table table-bordered table-striped table-hover table-responsive table-fixed'>
        <thead><tr class='bg-danger text-light'>
          <th>Refrigerante</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Total</th>
          <th>Curtidas</th>
          <th>X</th>
        </tr></thead>
        <tr v-if="nLinhas <= 0">
          <td colspan="6"><p>Nenhum refrigerante</p></td>
        </tr>
        <tr v-else v-for="n in nLinhas">
          <td>
            <select class='custom-select mr-sm-2' @change='changeRefrigerante(n)' v-model='selected[n]'>
              <option value='0' disabled selected>Escolha o refrigerante...</option>
              <option v-bind:value='refrigerante.id' v-for='refrigerante in refrigerantes'>{{refrigerante['marca']}} {{refrigerante['sabor']}} {{refrigerante['quantidade']}}</option>
            </select>
          </td>
          <td><input type='number' class='text-center' v-model.number='quantidade[n]' @keyup='changeRefrigerante(n)' placeholder='Digite a quantidade'> </td>
          <td><p type='text' class='text-center' >R$ {{preco[n]}}</p></td>
          <td><p type='text' class='text-center' placeholder='Cálcular o valor total'>R$ {{total[n]}}</p></td>
          <td><p><i class="curtida fa fa-heart"></i>  {{curtidas[n]}}  <i class="curtida fa fa-heart"></i></p></td>
          <td><button class="btn text-light circle-btn" @click="removerRefrigerante(n)"><i class="fa fa-times"></i></button></td>
        </tr>
      </table>
      <button class='btn bg-danger text-light' @click='novoRefrigerante(), scrollFim()'>Novo Refrigerante</button>
      <h4 class="bg-danger text-light preco-totalitario">Preço Totalitário = R$ {{precoTotalitario}}</h4>
    </div>
    <script>
    new Vue({
      el: "#app",
      data: {
          refrigerantes: [],
          selected: [""],
          quantidade: [0],
          preco: [0],
          total: [0],
          nLinhas: 7,
          curtidas: [0],
          precoTotalitario: 0
      },
      created: function() {
        let vm = this
        this.$http.get('http://api.adsim.co/refrigerante/listar')
        .then(response => vm.refrigerantes = response.data)
      },
      methods: {
        changeRefrigerante: function(index) {
          var refriIndex = (this.selected[index]-1)
          if(!([this.selected[index], this.quantidade[index], this.total[index], this.refrigerantes[refriIndex]]).includes(undefined)) {
            this.$set(this.total, index, this.refrigerantes[refriIndex].valor * this.quantidade[index])
            this.$set(this.preco, index, this.refrigerantes[refriIndex].valor)
            this.$set(this.curtidas, index, this.refrigerantes[refriIndex].curtidas)
          }
        },
        pushArrays() {
          this.selected.push("")
          this.quantidade.push(0)
          this.preco.push(0)
          this.total.push(0)
          this.curtidas.push(0)
        },
        novoRefrigerante: function() {
          this.pushArrays()
          this.nLinhas++;
        },
        removerRefrigerante: function(index) {
          this.selected.splice(index, 1)
          this.quantidade.splice(index, 1)
          this.preco.splice(index, 1)
          this.total.splice(index, 1)
          this.curtidas.splice(index, 1)
          this.nLinhas--;
        },
        scrollFim: function() {
          this.$nextTick(() => {
          var table = document.getElementById("table");
          table.scrollTop = table.scrollHeight;
        })
      }
      },
      beforeMount: function() {
        for(i = 0; i < this.nLinhas; i++) {
          this.pushArrays()
        }
      },
      watch: {
        total() {
            this.precoTotalitario = 0;
            this.total.map(p => this.precoTotalitario += p);
         }
      }
    })
    </script>
  </body>
</html>
