table {
  margin-top: 10mm;
  max-height: 510px;
  overflow-y: overlay;
}
th {
  width: 25%;
}
input{
   padding: 3px;
}
i {
  color: red;
}
.preco-totalitario {
  font-weight: bold;
  margin-top: 3mm;
  padding-top: 2mm;
  padding-bottom: 2mm;
}
