table {
  margin-top: 5mm;
}
th {
  width: 25%;
}
input{
   padding: 3px;
}
i {
  color: red;
}
.precoTotalitario {
  font-weight: bold;
  margin-top: 3mm;
  padding-top: 2mm;
  padding-bottom: 2mm;
}
